$color-black: #000;
$color-gray-darker: #292929;
$color-gray-dark: #444;
$color-gray-light: #BBB;
$color-white: #fff;
$color-green-primary: #65d36e;
$color-blue-primary: #445a90; 
$color-blue-hover: #3C4F7D;
$color-blue-active: #9DA6BD;