@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@import "styles/normalize.scss";
@import "styles/colors.scss";

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: var(--color-white);
}

body {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 36px 16px;
}

.button_facebook {
  max-width: 435px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: $color-blue-primary;
  border-radius: 50px;

  & div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: $color-white;

    & .facebook_icon {
      font-size: 20px;
    }
  }
}

.button_facebook:hover {
  background-color: $color-blue-hover;
}

.button_facebook:active {
  background-color: $color-blue-active;
}

.button_google {
  max-width: 435px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: $color-white;
  border-radius: 50px;
  border: 1px solid $color-gray-darker;

  & div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: $color-gray-darker;

    .google_icon {
      font-size: 20px;
    }
  }
}

.button_google:hover {
  border-color: $color-gray-light;
}

.button_google:active {
  & div {
    color: $color-gray-light;
  }

}

.font_xxl {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0px;
}

.font_xl {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px;
}

.font_l {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
}

.font_l_regular {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
}

.font_m {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0px;
}

.font_s {
  font-size: 14px;
  font-weight: 400;
}

//Custom radio input
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 1px solid $color-gray-dark;
  border-radius: 50%;
}

input[type="radio"]:hover {
  border-color: $color-green-primary;
}

input[type="radio"]:checked {
  border-color: $color-green-primary;
  background: radial-gradient(circle, rgba(255,255,255,1) 40%, rgba(101,211,110,1) 40%);
}


//Sign up button
.sign_up_button {
  all: unset;
  width: 173px;
  height: 55px;
  border-radius: 50px;
  cursor: pointer;
  background-color: $color-green-primary;
  color: $color-black;
  font-size: 16px;
  font-weight: 700;
}

.sign_up_button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #65D36E;
}



